.beerDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 20px;
  overflow: auto;

  width: 60%;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 100;
  .beerName{
    font-size: 30px;
  }
  .beerTagline{
    margin-top: 20px;
    font-size: 20px;
  }
  .extracts{
    margin-top: 10px;
    span{
      color: #444444;
      font-weight: bold;
      p{
        color: #ffcc00;
        display: inline;
      }
    }
  }
  .beerImage {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
  .beerId {
    position: relative;
    top: 30px;
    margin-left: 50px;
    margin-top: 20px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .description {
      width: 90%;
      margin-top: 20px;
      font-size: 20px;
    }
  }
  .closeBtn {
    width: 100px;
    height: 50px;
    transition: 0.5s all;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: rgba(89, 89, 89, .8);
    outline: none;
    color: #ffcc00;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.beerId .beerName:after {
  content: '';
  border: 3px solid #ffcc00;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.closeBtn:hover {
  font-size: 25px;
  background: #ffcc00;
  color: white;
}
