//------Layout configuration---------
body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1350px;
  padding: 0;
  margin: 0 auto;

}
.mainLayout{
  height: auto;
  padding: 50px;
  background: linear-gradient(rgba(#444, 0.64), rgba(#444, 0.64)),
  url("../images/beer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
