//-----beerBox------------

.beerList {
  width: 1000px;
  height: auto;
  columns: 2;
  list-style: none;
  display: inline-block;
  .beerType {
    margin-bottom: 50px;
    .beerImage {
      height: auto;
      width: auto;
      max-width: 300px;
      max-height: 300px;
    }
  }
}
